@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Encode+Sans:wght@500&family=Poppins:wght@400;500&family=Roboto:wght@500&family=Ubuntu:wght@400;500;700&display=swap');
/* navber starts */
.logo{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

/* slider starts */

#firstimage h1{
    font-size: 42px;
    color: #fff8f8 ;
   
    font-family: 'Poppins', sans-serif;
}

#firstimage p{
    
    font-family: 'Poppins', sans-serif;

}

#firstimage button a{
    text-decoration: none;
}


/* package starts */

.card h2{
  color: #231D4F;
}

.card p{
    color: #848199;
}

.card{
    border-radius: 10px;
}

.hot p{
    color: blanchedalmond;
}

#hot{
    height: 470px;
    position: relative;
    top: -20px;
    border-radius: 20px;
    margin-top: 45px;
}

#hot small{
    height: 21px;
    width: 29px;
    background-color: rgb(253, 8, 8);
    color: cornsilk;
    border-radius: 5px;
    position: absolute;
    top: -10px;
    right: 10px;
    
}

/* footer starts */

.appstore{
    margin-bottom: -2rem;
}
